openapi: 3.0.1
info:
  title: core-banking-payment-hub
  description: Core Banking Payment Hub Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.catalis.vc/payment-hub
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: SEPA Payments
    description: Operations for SEPA payments (SCT, ICT, SDD)
  - name: European Payments
    description: API for European payment operations (TARGET2, TIPS, EBA STEP2)
  - name: SWIFT Payments
    description: Operations for SWIFT payments (MT103, MT202, PACS.008)
  - name: Internal Transfers
    description: Operations for internal transfers between accounts
  - name: UK Payments
    description: API for UK payment operations (FPS, BACS, CHAPS)
  - name: ACH Payments
    description: Operations for ACH payments (US bank transfers)
paths:
  /api/v1/payments/uk/fps/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate a UK Faster Payment
      description: |+
        **Simulates a UK Faster Payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data including sort code and account number
        - Performs sort code validation against the UK payments directory
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated processing time (typically seconds or minutes for FPS)

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.

      operationId: simulateFasterPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkFasterPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/uk/fps/schedule:
    post:
      tags:
        - UK Payments
      summary: Schedule a UK Faster Payment
      description: |+
        **Schedules a UK Faster Payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including sort code and account number
        - Verifies the execution date is valid (must be a future date)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically executed via the Faster Payments Service on the specified date
        - Funds are not reserved until the actual execution date
        - Recurrence patterns use standard CRON expressions to define repeating schedules
        - Since Faster Payments operate 24/7/365, payments can be scheduled for any date

      operationId: scheduleFasterPayment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkFasterPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/uk/fps/execute:
    post:
      tags:
        - UK Payments
      summary: Execute a UK Faster Payment
      description: |+
        **Executes a UK Faster Payment through the Faster Payments Service.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data including sort code and account number
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the Faster Payments network
        - Returns a transaction reference and confirmation details

        **Settlement Time:** Faster Payments typically settle within seconds or minutes and are
        available 24/7/365.

        **Transaction Limits:** Maximum transaction limit is typically £1,000,000, but may vary by bank.

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation

      operationId: executeFasterPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkFasterPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/uk/fps/cancel:
    post:
      tags:
        - UK Payments
      summary: Cancel a UK Faster Payment
      description: |+
        **Cancels an existing UK Faster Payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the Faster Payments network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - Faster Payments can only be cancelled if they haven't been settled yet
        - Due to the near real-time nature of the service, the cancellation window may be very short
        - Once settled, a return payment must be initiated instead
        - A simulation reference from the `/fps/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelFasterPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/uk/fps/cancel/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate cancellation of a UK Faster Payment
      description: |+
        **Simulates cancellation of a UK Faster Payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned must be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - The cancellation window for Faster Payments is very short due to near real-time settlement

      operationId: simulateFasterPaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/uk/chaps/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate a UK CHAPS Payment
      description: |+
        **Simulates a UK CHAPS Payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data including sort code and account number
        - Performs sort code validation against the CHAPS directory
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees (CHAPS typically has higher fees)
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Verifies the payment is within CHAPS operating hours
        - Returns estimated settlement time (same day if before cut-off time)

        **About CHAPS:**
        - Used for high-value or time-critical payments that need same-day settlement
        - No upper limit on transaction value
        - Suitable for property purchases, large corporate transactions, and time-critical payments
        - Only available during banking hours with specific cut-off times

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.

      operationId: simulateChapsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkChapsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/uk/chaps/schedule:
    post:
      tags:
        - UK Payments
      summary: Schedule a UK CHAPS Payment
      description: |+
        **Schedules a UK CHAPS Payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including sort code and account number
        - Verifies the execution date is valid (must be a future business day)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the CHAPS network on the specified date
        - Funds are not reserved until the actual execution date
        - CHAPS only operates on business days during banking hours
        - Payments scheduled for weekends, holidays, or after cut-off times will be processed on the next business day
        - For time-critical payments, consider the cut-off time (typically around 5:00 PM UK time)

      operationId: scheduleChapsPayment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkChapsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/uk/chaps/execute:
    post:
      tags:
        - UK Payments
      summary: Execute a UK CHAPS Payment
      description: |+
        **Executes a UK CHAPS Payment through the CHAPS network.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data including sort code and account number
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Verifies the payment is within CHAPS operating hours
        - Submits the payment to the CHAPS network
        - Returns a transaction reference and expected settlement time

        **Settlement Time:** CHAPS payments settle on the same day if submitted before the cut-off time
        (typically around 5:00 PM UK time).

        **Transaction Limits:** No upper limit on transaction value, making CHAPS suitable for:
        - Property purchases
        - Large corporate transactions
        - Time-critical high-value payments
        - Treasury operations

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation

      operationId: executeChapsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkChapsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/uk/chaps/cancel:
    post:
      tags:
        - UK Payments
      summary: Cancel a UK CHAPS Payment
      description: |+
        **Cancels an existing UK CHAPS Payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the CHAPS network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - CHAPS payments are typically difficult to cancel once submitted due to their high-priority nature
        - Cancellation is generally only possible if the payment has not yet been settled
        - The cancellation window is very short due to same-day settlement
        - A simulation reference from the `/chaps/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelChapsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/uk/chaps/cancel/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate cancellation of a UK CHAPS Payment
      description: |+
        **Simulates cancellation of a UK CHAPS Payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned must be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - CHAPS payments are typically difficult to cancel once submitted due to their high-priority nature
        - The cancellation window is very short due to same-day settlement

      operationId: simulateChapsPaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/uk/bacs/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate a UK BACS Payment
      description: |+
        **Simulates a UK BACS Payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data including sort code and account number
        - Performs sort code validation against the BACS directory
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated settlement date based on BACS processing cycle

        **About BACS:**
        - BACS payments follow a 3-day processing cycle
        - Typically used for regular payments like salaries, direct debits, and supplier payments
        - Lower cost than Faster Payments or CHAPS

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.

      operationId: simulateBacsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkBacsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/uk/bacs/schedule:
    post:
      tags:
        - UK Payments
      summary: Schedule a UK BACS Payment
      description: |+
        **Schedules a UK BACS Payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including sort code and account number
        - Verifies the execution date is valid (must be a future business day)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the BACS network on the specified date
        - Funds are not reserved until the actual execution date
        - The actual settlement will occur 2 business days after the execution date due to the BACS processing cycle
        - BACS only processes payments on business days
        - Payments scheduled for weekends or holidays will be processed on the next business day

      operationId: scheduleBacsPayment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkBacsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/uk/bacs/execute:
    post:
      tags:
        - UK Payments
      summary: Execute a UK BACS Payment
      description: |+
        **Executes a UK BACS Payment through the BACS network.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data including sort code and account number
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the BACS network
        - Returns a transaction reference and expected settlement date

        **Settlement Time:** BACS payments follow a 3-day processing cycle:
        - Submit on day 1
        - Process on day 2
        - Complete on day 3

        **Common Uses:**
        - Salary and wage payments
        - Direct Debits for regular bills
        - Supplier payments
        - Regular business-to-business transfers

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation

      operationId: executeBacsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkBacsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/uk/bacs/cancel:
    post:
      tags:
        - UK Payments
      summary: Cancel a UK BACS Payment
      description: |+
        **Cancels an existing UK BACS Payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the BACS network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - BACS payments can typically be cancelled up until the end of the submission day (day 1 of the 3-day cycle)
        - Once the payment has moved to processing (day 2), cancellation is no longer possible
        - A simulation reference from the `/bacs/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelBacsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/uk/bacs/cancel/simulate:
    post:
      tags:
        - UK Payments
      summary: Simulate cancellation of a UK BACS Payment
      description: |+
        **Simulates cancellation of a UK BACS Payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned must be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - BACS payments can typically be cancelled up until the end of the submission day (day 1 of the 3-day cycle)
        - Cancellation window depends on the BACS processing schedule and cut-off times

      operationId: simulateBacsPaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UkCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/swift/simulate:
    post:
      tags:
        - SWIFT Payments
      summary: Simulate a SWIFT payment
      description: |+
        **Simulates a SWIFT payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data including BIC codes and account details
        - Verifies the receiving bank is reachable through the SWIFT network
        - Checks for sufficient funds (without placing a hold)
        - Calculates applicable fees (which can be significant for SWIFT transfers)
        - Determines if Strong Customer Authentication (SCA) is required based on amount and destination
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated settlement date and routing information

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.

      operationId: simulatePayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/swift/schedule:
    post:
      tags:
        - SWIFT Payments
      summary: Schedule a SWIFT payment
      description: |+
        **Schedules a SWIFT payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including BIC codes and account details
        - Verifies the execution date is valid (must be a future business day)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the SWIFT network on the specified date
        - Funds are not reserved until the actual execution date
        - SWIFT payments are typically processed only on business days
        - Payments scheduled for weekends or holidays will be processed on the next business day

      operationId: schedulePayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftScheduleRequestDTO'
        required: true
      responses:
        '200':
          description: Scheduling successful or pending SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/swift/execute:
    post:
      tags:
        - SWIFT Payments
      summary: Execute a SWIFT payment
      description: |+
        **Executes a SWIFT payment through the SWIFT network.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data including BIC codes and account details
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the SWIFT network
        - Returns a transaction reference and expected settlement date

        **Settlement Time:** SWIFT payments typically settle within 1-3 business days depending
        on the destination country and currency.

        **Important Notes:**
        - Correspondent banks may be involved in the payment chain
        - This can affect settlement time and may incur additional fees
        - Include the simulation reference if SCA was required

      operationId: executePayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: Execution successful or pending SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/swift/cancel/simulate:
    post:
      tags:
        - SWIFT Payments
      summary: Simulate cancellation of a SWIFT payment
      description: |+
        **Simulates cancellation of a SWIFT payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned must be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - SWIFT payments can be difficult to cancel once they've entered the correspondent banking network

      operationId: simulateCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/swift/cancel:
    post:
      tags:
        - SWIFT Payments
      summary: Cancel a SWIFT payment
      description: |+
        **Cancels an existing SWIFT payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the SWIFT network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - SWIFT payments can only be cancelled if they haven't been settled yet
        - Once a payment has been processed by correspondent banks, cancellation may not be possible
        - A separate return payment might be required if cancellation fails
        - A simulation reference from the `/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Cancellation successful or pending SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/sepa/simulate:
    post:
      tags:
        - SEPA Payments
      summary: Simulate a SEPA payment
      description: |+
        **Simulates a SEPA payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data including IBAN and BIC
        - Verifies the receiving bank is reachable through SEPA
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required based on amount and risk
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated settlement date based on the SEPA scheme (standard or instant)

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.

      operationId: simulatePayment_1
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/sepa/schedule:
    post:
      tags:
        - SEPA Payments
      summary: Schedule a SEPA payment
      description: |+
        **Schedules a SEPA payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including IBAN and BIC
        - Verifies the execution date is valid (must be a future date for SCT, or a valid collection date for SDD)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the SEPA network on the specified date
        - Funds are not reserved until the actual execution date
        - For SEPA Direct Debits, specific rules apply regarding advance notification and mandate validation
        - Recurrence patterns use standard CRON expressions to define repeating schedules

      operationId: schedulePayment_1
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaScheduleRequestDTO'
        required: true
      responses:
        '200':
          description: Scheduling successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/sepa/execute:
    post:
      tags:
        - SEPA Payments
      summary: Execute a SEPA payment
      description: |+
        **Executes a SEPA payment through the SEPA network.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data including IBAN and BIC
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the SEPA network
        - Returns a transaction reference and expected settlement date

        **Settlement Times:**
        - Standard SEPA Credit Transfers (SCT): typically settle within 1 business day
        - SEPA Instant Credit Transfers (SCT Inst): settle within 10 seconds
        - SEPA Direct Debits (SDD): follow specific settlement cycles based on the scheme

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation

      operationId: executePayment_1
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: Execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/sepa/cancel/simulate:
    post:
      tags:
        - SEPA Payments
      summary: Simulate cancellation of a SEPA payment
      description: |+
        **Simulates cancellation of a SEPA payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned must be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - For SEPA Instant Credit Transfers, the cancellation window is very short due to real-time settlement
        - For SEPA Direct Debits, specific rules apply for cancellation before the collection date

      operationId: simulateCancellation_1
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/sepa/cancel:
    post:
      tags:
        - SEPA Payments
      summary: Cancel a SEPA payment
      description: |+
        **Cancels an existing SEPA payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the SEPA network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - SEPA payments can only be cancelled if they haven't been settled yet
        - For SEPA Instant Credit Transfers, the cancellation window is very short due to real-time settlement
        - For SEPA Direct Debits, specific rules apply for cancellation before the collection date
        - A simulation reference from the `/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelPayment_1
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Cancellation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/internal/simulate:
    post:
      tags:
        - Internal Transfers
      summary: Simulate an internal transfer
      description: |+
        **Simulates an internal transfer without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the transfer request data and account ownership
        - Checks for sufficient funds in the source account
        - Verifies account status (not frozen, closed, etc.)
        - Calculates any applicable fees (typically none for internal transfers)
        - Determines if Strong Customer Authentication (SCA) is required based on amount and risk
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns a simulation reference to be used in the execute endpoint

        **Important:** Use this endpoint before executing a transfer to verify it will succeed
        and to complete any required SCA process.

      operationId: simulateTransfer
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/internal/schedule:
    post:
      tags:
        - Internal Transfers
      summary: Schedule an internal transfer
      description: |+
        **Schedules an internal transfer for future execution on the specified date.**

        This endpoint creates a scheduled transfer instruction:

        - Validates the transfer request data and account ownership
        - Verifies the execution date is valid (must be a future date)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled transfer instruction
        - Supports optional recurrence patterns for recurring transfers
        - Returns a schedule reference and confirmation details

        **Important Notes:**
        - The transfer will be automatically executed on the specified date
        - Funds are not reserved until the actual execution date
        - Recurrence patterns use standard CRON expressions to define repeating schedules
        - Examples: `0 0 1 * *` (monthly on the 1st), `0 0 * * 1` (every Monday)

      operationId: scheduleTransfer
      parameters:
        - name: executionDate
          in: query
          description: 'Execution date (ISO format: YYYY-MM-DD)'
          required: true
          schema:
            type: string
        - name: recurrencePattern
          in: query
          description: Recurrence pattern (CRON expression)
          required: false
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Scheduling successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/internal/execute:
    post:
      tags:
        - Internal Transfers
      summary: Execute an internal transfer
      description: |+
        **Executes an internal transfer between accounts.**

        This endpoint processes the actual transfer transaction:

        - Validates the transfer request data and account ownership
        - Verifies sufficient funds are available in the source account
        - Verifies SCA if required (using the code delivered during simulation)
        - Debits the source account and credits the destination account
        - Creates transaction records for both accounts
        - Returns a transaction reference and confirmation details

        **Settlement Time:** Internal transfers are typically processed immediately, with funds
        available to the recipient right away.

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation

      operationId: executeTransfer
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/internal/cancel/simulate:
    post:
      tags:
        - Internal Transfers
      summary: Simulate cancellation of an internal transfer
      description: |+
        **Simulates cancellation of an internal transfer without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request and verifies authorization
        - Checks if the transfer exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility and SCA requirements
        - Provides a simulation reference to be used in the actual cancellation request

        **Important:** This endpoint does not actually cancel the transfer. Use the returned
        simulation reference in the subsequent call to the `/cancel` endpoint.

      operationId: simulateCancellation_2
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '404':
          description: Transfer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/internal/cancel:
    post:
      tags:
        - Internal Transfers
      summary: Cancel an internal transfer
      description: |+
        **Cancels an existing internal transfer with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted transfer:

        - Validates the cancellation request and verifies authorization
        - Checks if the transfer exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Reverses the transfer by crediting the source account and debiting the destination account
        - Creates reversal transaction records for both accounts
        - Returns the cancellation status and confirmation details

        **Important Limitations:**
        - Only pending or scheduled transfers can be cancelled
        - Completed transfers require a new transfer in the opposite direction
        - A simulation reference from the `/cancel/simulate` endpoint must be included for SCA verification

      operationId: cancelTransfer
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Cancellation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '404':
          description: Transfer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/european/tips/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate a TIPS payment
      description: |+
        **Simulates a TIPS payment without actual execution.**

        The simulation process:

        - Validates the payment request data including IBAN and BIC
        - Verifies the receiving bank is a TIPS participant
        - Checks for sufficient funds (without placing a hold)
        - Verifies the payment amount is within TIPS limits (currently €100,000)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)

        **About TIPS:**
        - TIPS (TARGET Instant Payment Settlement) is an instant payment service available 24/7/365
        - Settles payments in central bank money in seconds
        - Designed for retail payments requiring immediate settlement

        **Important:**
        - Use this endpoint before executing a payment to verify it will succeed
        - The simulation reference must be included in the execute request if SCA is required

      operationId: simulateTipsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/european/tips/schedule:
    post:
      tags:
        - European Payments
      summary: Schedule a TIPS payment
      description: |+
        **Schedules a TIPS payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including IBAN and BIC
        - Verifies the execution date is valid (must be a future date)
        - Verifies the payment amount is within TIPS limits (currently €100,000)
        - Verifies SCA if required
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the TIPS network on the specified date
        - Funds are not reserved until the actual execution date
        - Since TIPS operates 24/7/365, payments can be scheduled for any date
        - This includes weekends and holidays

      operationId: scheduleTipsPayment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/european/tips/execute:
    post:
      tags:
        - European Payments
      summary: Execute a TIPS payment
      description: |+
        **Executes a TIPS payment through the TIPS network.**

        This operation:

        - Validates the payment request data including IBAN and BIC
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Verifies the payment amount is within TIPS limits (currently €100,000)
        - Submits the payment to the TIPS network
        - Returns a transaction reference and confirmation of instant settlement

        **Settlement Information:**
        - TIPS payments settle in real-time (typically within 10 seconds) with immediate finality
        - Available 24/7/365 including weekends and holidays
        - Used for retail payments requiring immediate settlement
        - Current maximum amount is €100,000 per transaction

      operationId: executeTipsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipsPaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/european/tips/cancel:
    post:
      tags:
        - European Payments
      summary: Cancel a TIPS payment
      description: |+
        **Cancels an existing TIPS payment with Strong Customer Authentication (SCA) support.**

        The process:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the TIPS network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - TIPS payments are extremely difficult to cancel once submitted due to their instant settlement nature
        - Settlement typically occurs within 10 seconds
        - Cancellation is generally only possible if the payment is still in a queued state
        - Include the simulation reference from the /tips/cancel/simulate endpoint for SCA verification

      operationId: cancelTipsPayment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipsCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/european/tips/cancel/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate cancellation of a TIPS payment
      description: |+
        **Simulates cancellation of a TIPS payment to trigger SCA delivery and provide information.**

        The process:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned should be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - TIPS payments are extremely difficult to cancel once submitted due to their instant settlement nature
        - Settlement typically occurs within 10 seconds

      operationId: simulateTipsPaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipsCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/european/target2/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate a TARGET2 payment
      description: |+
        **Simulates a TARGET2 payment without actual execution.**

        The simulation process:

        - Validates the payment request data including IBAN and BIC
        - Verifies the receiving bank is a TARGET2 participant
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Verifies the payment is within TARGET2 operating hours
        - Returns estimated settlement time (same day if before cut-off time)

        **Important Notes:**
        - TARGET2 is used for high-value, time-critical euro payments between financial institutions
        - Use this endpoint before executing a payment to verify it will succeed
        - The simulation reference returned must be included in the execute request if SCA is required

      operationId: simulateTarget2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/european/target2/schedule:
    post:
      tags:
        - European Payments
      summary: Schedule a TARGET2 payment
      description: |+
        **Schedules a TARGET2 payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including IBAN and BIC
        - Verifies the execution date is valid (must be a future TARGET2 business day)
        - Verifies SCA if required
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the TARGET2 network on the specified date
        - Funds are not reserved until the actual execution date
        - TARGET2 only operates on business days
        - Payments scheduled for weekends or holidays will be processed on the next business day

      operationId: scheduleTarget2Payment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/european/target2/execute:
    post:
      tags:
        - European Payments
      summary: Execute a TARGET2 payment
      description: |+
        **Executes a TARGET2 payment through the TARGET2 network.**

        This operation:

        - Validates the payment request data including IBAN and BIC
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Verifies the payment is within TARGET2 operating hours
        - Submits the payment to the TARGET2 network
        - Returns a transaction reference and expected settlement time

        **Settlement Information:**
        - TARGET2 payments settle in real-time with immediate finality
        - Operating hours are typically 7:00 AM to 6:00 PM CET on TARGET2 business days
        - Used for high-value, time-critical euro payments between financial institutions

      operationId: executeTarget2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/european/target2/cancel:
    post:
      tags:
        - European Payments
      summary: Cancel a TARGET2 payment
      description: |+
        **Cancels an existing TARGET2 payment with Strong Customer Authentication (SCA) support.**

        The process:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the TARGET2 network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - TARGET2 payments are typically difficult to cancel once submitted due to their real-time settlement nature
        - Cancellation is generally only possible if the payment has not yet been settled
        - Include the simulation reference from the /target2/cancel/simulate endpoint for SCA verification

      operationId: cancelTarget2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target2CancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/european/target2/cancel/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate cancellation of a TARGET2 payment
      description: |+
        **Simulates cancellation of a TARGET2 payment to trigger SCA delivery and provide information.**

        The process:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned should be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - TARGET2 payments are typically difficult to cancel once submitted due to their real-time settlement nature

      operationId: simulateTarget2PaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target2CancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/european/step2/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate an EBA STEP2 payment
      description: |+
        **Simulates an EBA STEP2 payment without actual execution.**

        The simulation process:

        - Validates the payment request data including IBAN and BIC
        - Verifies the receiving bank is reachable through EBA STEP2
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated settlement date based on STEP2 processing cycles

        **About EBA STEP2:**
        - Pan-European Automated Clearing House for bulk euro payments
        - Processes both SEPA Credit Transfers and SEPA Direct Debits
        - Operates on a batch processing model with multiple daily cycles
        - Typically settles within 1 business day

      operationId: simulateEbaStep2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EbaStep2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/european/step2/schedule:
    post:
      tags:
        - European Payments
      summary: Schedule an EBA STEP2 payment
      description: |+
        **Schedules an EBA STEP2 payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data including IBAN and BIC
        - Verifies the execution date is valid (must be a future business day)
        - Verifies SCA if required
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically submitted to the EBA STEP2 network on the specified date
        - Funds are not reserved until the actual execution date
        - EBA STEP2 only processes payments on business days
        - Payments scheduled for weekends or holidays will be processed on the next business day

      operationId: scheduleEbaStep2Payment
      parameters:
        - name: executionDate
          in: query
          description: Execution date (YYYY-MM-DD)
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EbaStep2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/european/step2/execute:
    post:
      tags:
        - European Payments
      summary: Execute an EBA STEP2 payment
      description: |+
        **Executes an EBA STEP2 payment through the EBA STEP2 network.**

        This operation:

        - Validates the payment request data including IBAN and BIC
        - Verifies sufficient funds are available
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the EBA STEP2 network
        - Returns a transaction reference and expected settlement date

        **Settlement Information:**
        - EBA STEP2 payments are processed in batches with multiple daily cycles
        - Payments are typically settled within 1 business day
        - STEP2 is used for SEPA Credit Transfers and SEPA Direct Debits
        - Covers the entire Single Euro Payments Area

      operationId: executeEbaStep2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EbaStep2PaymentRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/european/step2/cancel:
    post:
      tags:
        - European Payments
      summary: Cancel an EBA STEP2 payment
      description: |+
        **Cancels an existing EBA STEP2 payment with Strong Customer Authentication (SCA) support.**

        The process:

        - Validates the cancellation request
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the EBA STEP2 network
        - Returns the cancellation status and any applicable fees

        **Important Notes:**
        - EBA STEP2 payments can typically be cancelled if they haven't been included in a processing cycle yet
        - Include the simulation reference from the /step2/cancel/simulate endpoint for SCA verification
        - Cancellation becomes more difficult once the payment has been included in a batch

      operationId: cancelEbaStep2Payment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EbaStep2CancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
  /api/v1/payments/european/step2/cancel/simulate:
    post:
      tags:
        - European Payments
      summary: Simulate cancellation of an EBA STEP2 payment
      description: |+
        **Simulates cancellation of an EBA STEP2 payment to trigger SCA delivery and provide information.**

        The process:

        - Validates the cancellation request
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important Notes:**
        - The simulation reference returned should be included in the actual cancellation request
        - This endpoint does not actually cancel the payment
        - EBA STEP2 payments can typically be cancelled if they haven't been included in a processing cycle yet
        - Once a payment has been included in a batch, cancellation may not be possible

      operationId: simulateEbaStep2PaymentCancellation
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EbaStep2CancellationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/ach/simulate:
    post:
      tags:
        - ACH Payments
      summary: Simulate an ACH payment
      description: |
        **Simulates an ACH payment without actual execution.**

        This endpoint performs validation and preliminary checks without moving any funds:

        - Validates the payment request data and routing numbers
        - Checks for sufficient funds (without placing a hold)
        - Calculates any applicable fees and exchange rates
        - Determines if Strong Customer Authentication (SCA) is required
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns estimated settlement date and processing information

        **Important:** Use this endpoint before executing a payment to verify it will succeed
        and to obtain a simulation reference that must be included in the execute request.
      operationId: simulatePayment_2
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/ach/schedule:
    post:
      tags:
        - ACH Payments
      summary: Schedule an ACH payment
      description: |
        **Schedules an ACH payment for future execution on the specified date.**

        This endpoint creates a scheduled payment instruction:

        - Validates the payment request data and routing numbers
        - Verifies the execution date is valid (must be a future business day)
        - Verifies SCA if required (using the code delivered during simulation)
        - Creates a scheduled payment instruction
        - Supports optional recurrence patterns for recurring payments

        **Important Notes:**
        - The payment will be automatically executed on the specified date
        - Funds are not reserved until the actual execution date
        - Recurrence patterns use standard CRON expressions (e.g., `0 0 1 * *` for monthly on the 1st)
        - ACH payments are not processed on weekends or federal holidays
      operationId: schedulePayment_2
      parameters:
        - name: executionDate
          in: query
          description: 'Execution date (ISO format: YYYY-MM-DD)'
          required: true
          schema:
            type: string
        - name: recurrencePattern
          in: query
          description: Recurrence pattern (CRON expression)
          required: false
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Scheduling successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentScheduleResultDTO'
  /api/v1/payments/ach/execute:
    post:
      tags:
        - ACH Payments
      summary: Execute an ACH payment
      description: |
        **Executes an ACH payment by submitting it to the ACH network.**

        This endpoint processes the actual payment transaction:

        - Validates the payment request data and routing numbers
        - Verifies sufficient funds are available in the source account
        - Places a hold on the funds
        - Verifies SCA if required (using the code delivered during simulation)
        - Submits the payment to the ACH network
        - Returns a transaction reference and expected settlement date

        **Settlement Time:** ACH payments typically settle in 1-3 business days depending on processing windows.

        **Required Fields:**
        - `simulationReference`: Reference from a previous successful simulation call
        - `sca.authenticationCode`: If SCA was required during simulation
      operationId: executePayment_2
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchTransferRequestDTO'
        required: true
      responses:
        '200':
          description: Execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecutionResultDTO'
  /api/v1/payments/ach/cancel/simulate:
    post:
      tags:
        - ACH Payments
      summary: Simulate cancellation of an ACH payment
      description: |
        **Simulates cancellation of an ACH payment without actually cancelling it.**

        This endpoint is used to trigger SCA delivery and provide information about cancellation:

        - Validates the cancellation request and authorization
        - Checks if the payment exists and is in a cancellable state
        - Determines if Strong Customer Authentication (SCA) is required for cancellation
        - Delivers SCA code if required (via SMS or other configured channel)
        - Returns information about cancellation feasibility, fees, and SCA requirements

        **Important:** The simulation reference returned must be included in the actual cancellation
        request to link the SCA verification. This endpoint does not actually cancel the payment.
      operationId: simulateCancellation_3
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Simulation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSimulationResultDTO'
  /api/v1/payments/ach/cancel:
    post:
      tags:
        - ACH Payments
      summary: Cancel an ACH payment
      description: |
        **Cancels an existing ACH payment with Strong Customer Authentication (SCA) support.**

        This endpoint attempts to cancel a previously submitted payment:

        - Validates the cancellation request and authorization
        - Verifies the payment exists and is in a cancellable state
        - Verifies SCA if required (using the code delivered during cancellation simulation)
        - Attempts to cancel the payment with the ACH network
        - Returns the cancellation status and any applicable fees

        **Important Limitations:**
        - ACH payments can only be cancelled if they haven't been settled yet
        - Once a payment has been processed by the ACH network, cancellation may not be possible
        - A simulation reference from the `/cancel/simulate` endpoint must be included for SCA verification
      operationId: cancelPayment_2
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchCancellationRequestDTO'
        required: true
      responses:
        '200':
          description: Cancellation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResultDTO'
        '404':
          description: Payment not found
          content:
            application/json:
[...]
